.create-list {
    position: absolute;
    background: white;
    width: 50vw;
    // border: 1px solid $opa-black;
    border-radius: 20px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, .3), 0 0px 10px rgba(0, 0, 0, .6);
    margin-top: 10vh;
    overflow: hidden;

    .fade-cover {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(255, 255, 255, .7);
        z-index: 999;
    }

    .create-list_wrapper {
        position: relative;
        z-index: 999;
        background: white;
    }

    .header {
        padding: 25px 20px;
        background: $purple;
        color: white;
    }

    .create-input {
        padding: 20px;
        input {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 30px;
        }
    }

    .create-action {
        display: flex;
        justify-content: flex-end; 

        button, a {
            padding: 10px 25px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            margin-left: 3px;

            svg {
                margin-top: 2px;
            }

            &.yes {
                border: 2px solid $green;
                color: $green;

                &:hover {
                    color: white;
                    background: $green;
                }
            }
            &.no {
                border: 2px solid $red;
                color: $red;

                &:hover {
                    color: white;
                    background: $red;
                }
            }
        }
    }
}