nav {
    border-bottom: 1px solid $opa-black;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 999;

    .wrapper {
        height: 70px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
    }

    .logo {
        font-size: 40px;
        margin-top: 5px;
    }

    .logo-wrapper {
        font-size: 50px;
        margin-top: 7px;
    }

    .menu {
        display: flex;
        align-items: center;

        li {
            &:hover .dropdown {
                display: block !important;
            }

            > a {
                display: block;
                transition: 0.2s;
            }

            &.create > a {
                background: $green;
                background: white;
                color: $green;
                padding: 12px 40px;
                border-radius: 40px;
                border: 2px solid $green;
                display: flex;
                align-items: center;

                &:hover {
                    background: $green;
                    color: white;
                }

                svg {
                    margin-right: 5px;
                    font-size: 1.3em;
                }
            }

            &.profile > a {
                width: 45px;
                height: 45px;

                background: white;
                color: $pink;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-left: 20px;
                border: 2px solid $pink;

                &:hover {
                    background: $pink;
                    color: white;
                }
            }
        }
    }
}

.dropdown {
    background: white;
    border: 1px solid $opa-black;
    position: absolute;
    right: 0;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;

    li {
        min-width: 120px;
        border-bottom: 1px solid $opa-black;

        &:last-child {
            border-bottom: 0;
        }
        a {
            display: block;
            padding: 10px;
            color: $black;
            &:hover {
                background: $opa-black;
            }
        }
    }
}
