body {
    color: $black;
}

.main > .wrapper {
    padding: 70px 0px 0px 0px;
}

.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.main-header {
    font-size: 4em;
}

a {
    color: $green;
}

button {
    background: white;
    box-shadow: 0;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

input {
    box-shadow: none;
    font-size: 14px;
    border: 1px solid $opa-black;
    padding: 10px 15px;
    border-radius: 30px;
}

.btn {
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 30px;

    &.btn-green {
        color: $green;
        border-color: $green;

        &:hover {
            color: white;
            background: $green;
        }
    }
}

.add-button {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    border: 2px solid $green;
    color: $green;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: white;
        background: $green;
    }

    &.false {
        opacity: 0.5;
        cursor: inherit;
    }
}

.decision-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    button,
    span {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        border-radius: 50%;
        cursor: pointer;

        &.yes {
            border: 2px solid $green;
            color: $green;

            &:hover {
                color: white;
                background: $green;
            }
        }

        &.no {
            border: 2px solid $red;
            color: $red;

            &:hover {
                color: white;
                background: $red;
            }
        }
    }
}

