/* Color Theme Swatches in Hex */
$blue: #0F96FF;
$purple: #603887;
$litepink: #FFBCBA;
$pink: #FF0A53;
$green: #04BFAD;
$yellow: #F0B032;
$red: #F04229;
$opa-black: rgba(255, 255, 255, .2);
$black: #292929;
